@{
    ViewData["Title"] = "Advantages";
}

<!--
<main>
    <div class="container">
        <p>This page needs not to be displayed.<br>
        Advantages:<br>
        Reduces cost for the  institution. Such as that of cashiers, then adds an employee in the serving area, to read and confirm the payment made by a single customer and reads out his or her order to the servers. The servers obviously will be three exclusive of the order confirmation guy.Note that after each order is read, its marked as served in the server such that no one else will use the same receipt/mpesa confirmation code. Note that this confirmation code is later encrypted using a particular format, I can decide to use microsoft's inbuilt encryption style or hash style. I can as well create my own encryption style, cause I want the encryption to be changed almost each and every day.<br>
        improves the accountancy for each and every employee.<br>
        reduces forgery of receipts, since it uses mpesa receipts. that means they are verified against mpesa.<br>
        Also if possible I can try to verify against the amount thats reflected in the mess's account.<br>
        Allows for the customers to know the type of available meals in a specific day.<br> 
        Allows for making an order while you are held up somewhere. Note that you order can't get lost,since each time someone
        comes to pay it configures against his/her own receipt.
        </p>
    </div>
</main>
-->