@{
    ViewData["Title"] = "Alert";
}

<!--
<main>
    <div class="container">
        <p>This page displays alerts to the adminstrator, about any warnings on stocks<br>
        raised issues by the employees. Generally any food issues.</p>
    </div>
</main>
-->