@{
    ViewData["Title"] = "Comments";
}

<main>
    <div class="container">
        <p>Takes count of all the comments dropped down by the customers.<br>
        Takes record of each and every original comment as it is.</p>
    <div>
</main>