@{
    ViewData["Title"] = "CustomerEmployee";
}
    
<main>
    <div class="container">
        <p>Displays the review for each employee by customers<br>
        This data can be used for promotion or demotion of employees.</p>
    <div>
</main>