@{
    ViewData["Title"] = "Employee";
}

<!--
<main>
    <div class="container">
        <p>Takes count of all the employees in the business.<br>
        Displays the currently working employees. E.g if its lunch, who are serving, and if its cooking who cooked it.<br>
        The good thing is I have designed categorized tables for the  casual labourers,supervisors and cooks
        so this page will enhance categorizing them in terms of category.
        Takes count and record of all the employees that have reported for the day. Of course in terms of category<br>
        of category.
        Takes count of the number of days reported in a month by an employee. In terms of category<br>
        Takes record of the number of services offered by an employee( of course using the OnDuty property
        tagged in every employers categorized model, e.g the casualLabourer model), in a particular month, week and day.</p>
    <div>
</main>
-->