@{
    ViewData["Title"] = "MpesaRecords";
}

<!--
<main>
    <div class="container">
        <p>Displays all the mpesa records about the mess's till number.<br>
        Of course fetches APIs from Safaricom Mpesa APIs.</p>
        Of course this page will be fetching from an action that receives callback from the API's
    </div>
</main>
-->