@{
    ViewData["Title"] = "OrderManagement";
}

<!--
<main>
    <div class="container">
        <p>Note that this feature of quantity has been implemented in the image class
            note how I've added the quantity attribute.
        </p>
        <p>This page displays the no of orders for each meal - this will ofcourse be
        a tabulation of the quantity's of a specific meal as ordered combined
        from each customer, at a specific point in time, day, for a week, month and year.<br>
        Tabulates a graph of quantity against meal for a day,week,month and of course there's an overall tabulation for the year<br>
        Which is also available.</p>
    <div>
</main>
-->