@{
    ViewData["Title"] = "Profits";
}

<!--
<main>
    <div class="container">
        <p>Display the overall profit or loss<br>
        Displays the amount of profit/ loss made for each food item.<br>
        Tabulates a graph of profit/loss made against each food item or meal.</p>
    <div>
</main>
-->