@{
    ViewData["Title"] = "RealTimeServices";
}
<!--
<main>
    <div class="container">
        <p>This is a page for displaying all the currently ongoing services in the company,<br>
        For example the employees that have reported to work and that are in service at<br>
        that particular point in time.<br>The current no of customers being served, which of course,<br>
        is in synchrony with that of the customers section.<br>
        as they are streaming in, and diminishing. The current no of meals and quantity of meals as
        per the time of the day or rather the meal type as they are streaming in.</p>
    </div>
</main>
-->
<!--I want to add a chat feature whereby the admins can communicate, as well as a hot
direct line whereby an employee can communicate with the Manager, and viceversa.
-->
