@{
    ViewData["Title"] = "Reviews";
}

<!--
<main>
    <div class="container">
        <p>Displays the mess reviews from google playstore, amazon,  and basically all review technology companies<br>
        Can be basically a good idea even for the staff mess and even some other large companies.
        </p>
    <div>
</main>
-->
<!-- I will add google and amazon apis for fetching the ratings from there.-->