@{
    ViewData["Title"] = "Stocks";
}


<!--
<main>
    <div class="container">
        <p>This page manages the no of stocks in the mess at that point in time.<br>
        Displays the remaining stock for each and every type of food.<br>
        Allows for setting of a stock alert limit whereby if the stocks exceed that<br>'
        particular point, they pop up a message to the adminstrators alert section.</p>
    </div>
</main>
-->