<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RealCashMs - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/Layout.css" />
    @RenderSection("links", required: false);
    <link rel="stylesheet" href="\lib\fontawesome-free-6.2.0-web\css\all.css">
    <link rel="stylesheet" href="~/RealCashMs.styles.css"/>
    <link rel="icon" type="image/x-icon" href="/FinTech.PNG">
</head>
<body>
    <div class="splash-div">
        <p class="splash-text"><span class="splash-letter">Cashing</span><span class="splash-letter">Made</span><span class="splash-letter">Simpler</span></p>            <div class="logo">
        <img class="logo-img" alt="logo-img" src="..\FinTech.PNG">
        <div class="logo-text">Cash<span class="logo-extension">Ms</span></div>
        </div>   
    </div>
    <header>
            <nav>
                <div class="Home-div">
                    <div class="logo">
                        <img class="logo-img" alt="logo-img" src="..\FinTech.PNG">
                        <div class="logo-text">Cash<span class="logo-extension">Ms</span></div>
                    </div>
                </div>
                <div class="search-div">
                    <div class="search-form" >
                        <form>
                            <input class="search-input" type="text" placeholder="Search favourite meal">
                            <button type="submit" class="glass-holder"><span class="fa fa-magnifying-glass"></span></button>
                        </form>
                    </div>
                    <div class="Other-items"><span class="fa fa-user"></span>
                        <div class="menu-titles list-container">Account
                            <div class="drop-down-group">
                                <div class="toggled-menu-button"><a href="#" class=" normal-link my-button">Sign-In</a></div>
                                <hr>
                                <div><a href="#" class="normal-link">My Account</a></div>
                                <div><a href="#" class="normal-link">Orders</a></div>    
                                <div><a href="#" class="normal-link">Saved Items</a></div> 
                            </div>
                        </div><span class="right  fa fa-circle-chevron-down"></span><span class="fa fa-circle-info"></span>
                        <div class="menu-titles list-container">Help
                            <div class="drop-down-group">        
                                <div><a href="#" class="normal-link">Help Center</a></div>
                                <div><a href="#" class="normal-link">Order Cancellation</a></div>    
                                <div><a href="#" class="normal-link">Contact us</a></div>
                                <hr>
                                <div class="toggled-menu-button"><a href="#" class=" normal-link my-button">Live Chat</a></div>
                            </div>
                        </div>
                        <span class="right fa fa-circle-chevron-down"></span><div class="menu-titles"><span class="fa fa-cart-shopping"></span>Meal-Cart
                    </div>
                </div>
            </nav>
        </header>
        <div class="maximum-width">
            @RenderBody()
        </div>
        <footer>
        <div class="partners-info">
            <p>facilitated payment via: </p><span><img class="payment-icon" src="..\Mpesa.png" alt="some-icon"></span>
                <span><img class="payment-icon" src="..\Mpesa-icon.png" alt="some-icon"></span>
                <span><img class="payment-icon" src="..\Paypal.png" alt="some-icon"></span>
                <span><img class="payment-icon" src="..\airtel.png" alt="some-icon"></span> 
        </div>
        <div class="terms-of-service">
            <div class="social-media-accounts">
                <span class="fa fa-instagram"></span>
                <span class="fa fa-facebook"></span>
                <span class="fa fa-twitter"></span>
                <span class="fa fa-instagram"></span>
                <span class="fa fa-youtube"></span>
                <span class="fa fa-snapchat"></span>
            </div>
            <div class="privacy-policy">
                <p><a href="#" class="normal-link" >Terms of Service</a></p>
                <p><a href="#" class="normal-link" >Privacy Policy</a></p>
                
            </div>
            <div class="copy-right">
                Copyright 2023 CashMs, All Rights Reserved.
                <p>Kenya</p>
            </div>

        </div>
    </footer>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false);
</body>
</html>
