@{
    ViewData["Title"] = "Service";
}

<main>
    <div class="container">
        <p>This page is the actual page for serving viewed by a Server.<br>
        It receives the OrderApproval object and reads its data<br>
        Out of that it determines the meals that have been ordered<br>
        Afterwards sets the approved property to true.<br>
        so that one customer can not serve twice.</p>
    </div>
</main>