<main>
    <div class="container">
        <p class="text-center text-dark "><b>CashMs is the replacement of the traditional mess system.<br>
        It facilitates payment for food via the M-Pesa System<br></p>
        <footer >
            <address>
                <p class="text-primary"><b>Contacts :</b></p><br>
                <b>Email :</b> ronnyogetaz@gmail.com<br>
                <b>Phone Number :</b> 0758227415
            </address>
        </footer>
    </div>

</main>