<main>
    <div class="container">
        <p>This page allows for customers to leave their comments to the adminstrator as well<br>
        as the administrator. whatever message left here is visible to the supervisors alone.<br>
        The regular employees have no access to it.</p>
    </div>
</main>