@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

:root{
    /*color variables*/
    --color-white: rgba(255,255,255,1);
    --color-light: rgba(255,255,255,0.7);
    --color-dark: rgba(0,0,0,1);
    --color-light-dark: rgba(0,0,0,0.5);
    --color-grey: rgba(155,155,155,1);
    --color-primary: rgba(0,0,255,0.8);
    --color-danger: rgba(255,70,70,1);
    --color-blue: rgba(0,0,255,0.8);
    --color-light-blue: rgba(180,180,255,1);
    --color-lighter-blue: rgba(220,220,255,1);
    --color-success: rgba(0,255,0,0.8);
    --color-light-green: rgba(0,255,0,0.5);
    --color-green: rgba(0,255,0,1);
    --color-pink: rgba(255,0,150,1);
    --color-light-pink: rgba(255,0,150,0.4);
    --color-purple: rgba(50,0,255,1);
    --color-light-purple: rgba(50,0,255,1);
    /*padding variales*/
    --card-padding: 0.5rem;
    --larger-padding: 2em;
    /*margin-variables*/
    --margin-top: 1rem;
    --margin-bottom: 1rem;
    --margin-right: 1rem;
    --margin-left: 1rem;
    /*border-radius*/
    --card-border-radius: 1rem;
    /*logo img sizing */
    --logo-img-width: 3rem;
    --logo--img-height: 3rem;
    /*logo text sizing*/
    --logo-text-font-size: 1rem;
    --logo-text-line-height: 1rem;
    /*button sizing*/
    --button-width: 2rem;
    --button-height: 2rem;
    /*--menu-items*/
    --menu-item-bottom: 0.3rem;
    --menu-item-line-height: 1.5rem;
    --menu-item-radius: 0.2rem;
    --menu-item-width: 6.5rem;
    /*transition time*/
    --fast-smooth-transition: 0.3s;
    /*text-styling, don't repest colors, only text-muted
    is valid here.*/
    --text-muted: rgba(0,0,0,0.6);
    /*notification bar*/
    --notification-light: rgba(255,255,255,0.8);
    --notification-dark: rgba(0,0,0,1);
}

body{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-family: 'Roboto', sans-serif;
    /*trying to apply it to all the texts*/
    text-align: center;
    font-weight: 800;
    background-color: var(--color-white);
}
.logo{
    width: 100%;
    height: 4rem;
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 0.7rem;
}
.logo-img{
    width: var(--logo-img-width);
    height: var(--logo--img-height);
    /*Here it was well of without a translation*/
    /*transform: translate(10%,18%);*/
}
.logo-text{
    color: rgba(255,255,255,0.8);
    font-size: x-large;
    font-weight: bolder;
    background-color: rgba(20,0,255);
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    line-height: 2em;
    height: 2em;
}
.logo-extension{
    color: rgba(255,20,180,0.8);
}


/*All about the customer-care section */
.customer-care-section{
    border: 0.2rem solid transparent;
    width: 30rem;
    margin: auto;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: var(--color-lighter-blue);
    box-shadow: 0.3rem 0.3rem 0.2rem var(--color-blue);
}
.full-text{
    font-size: xx-large;
    color: rgba(100,50,255);
}
.help-div{
    display: flex;
    margin: auto;
    width: 15rem;
    font-weight: bold;
}
.customer-text{
    color: rgba(100,20,255)
}
/*-----End------*/

/*Everything help search bar*/
.search-input{
    width: 45rem;
    height: 2.5rem;
    border: 0.1rem solid transparent;
    /*This outline is actually what's more important, it removes the border during focus.*/
    outline: none;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bold;
    padding-left: 1rem;
    box-sizing: border-box;
}
.search-form{
    border: 0.2rem solid blue;
    display: flex;
    border-radius: 1rem;
    padding-left: 0.2rem;
    background-color: white;
    width: 50rem;
    margin: auto;
}
.glass-holder{
    margin: auto;
    border: none;
    background-color: transparent;
    transform: translate(50%,10%);
}
.fa-magnifying-glass{
    color: blue;
    font-size:x-large;
}
/*-----End------*/

/*Everything main section*/
.main-section{
    background-color: var(--color-light-blue);
    width: 60rem;
    margin: auto;
    padding: 2rem 0rem;
    height: auto;
    border-radius: 0.4rem;
    height: 50vh;
    box-shadow: 0.3rem 0.3rem 0.2rem var(--color-blue);
}
/*-----End------*/