@{
    ViewData["Title"] = "CustomerCare";
}
<!--I'll add this section in the layout-->
@section links{
    <link rel="stylesheet" href="HelpCenter.css">
}
<body>

    <div class="customer-care-section">
        <div class="help-div">
            <div class="logo">
                <img class="logo-img" alt="logo-img" src="..\FinTech.PNG">
                <div class="logo-text">Cash<span class="logo-extension">Ms</span></div>
            </div>
            <div class="Help-Title"><span class="fa fa-headset"></span>Help Center</div>
        </div>
        <div>
            <p><span class="full-text">Cashing Made Simpler</span></p>
            <p><span class="customer-text">Customer care</span></p>
        </div>
    </div>
    <div class="main-section">
        <p>How can we Help you  ?</p>
    <div class="search-div"><div class="search-form" ><form >
        <input class="search-input" type="text" value="" placeholder="Describe your issue">
        <button type="submit" class="glass-holder"><span class="fa fa-magnifying-glass"></span></button>
    </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="HelpCenter.js"></script>
}
</body>