main{
    background-color: rgba(255,255,255,0.5);
    min-height: 100vh;
    min-width: 100%;
    transition-duration: color 3s;
    font-weight: bold;
}
.container{
    min-height: 100Vh;
}
.main-cart{
    /*If using the position then margin-auto wont work*/
    min-height: 100vh;
    width: 80vw;
    margin: auto;
    position: relative;
    top: 10vh;
    left: 10vw;
    background-image: white;
    transition: all 3s;
}
.side-summary{
    background-image: transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.my-bolder{
    font-weight: bolder;
}
hr{
    width: 100%;
    height: 0.3rem;
    background-color: black;
}
.main-cart .row{
    min-height: 80vh;
}
.side-summary .card{
    height: 100%;
    width: 100%;
    position: absolute;
}
.cart-image{
    max-width: 25vw;
    max-height: 20vh;
}
.cart-title{
    color: rgba(0,20,255);
    font-weight: bolder;
    font-size:larger;
    text-align: center;
    width: 100%;
    background-color: black;
}
.summary-title{
    color: rgba(255,255,255);
    font-weight: bold;
    font-size: large;
    padding-left: 1rem;
    padding-right: 0.2rem;
}
.amount-holder{
    text-align: center;
    margin: auto;
    padding: 2rem 0.5rem;
    background-color: rgba(0,0,255,0.9);
}

h1 .card-text{
    font-size: large;
    font-weight: bold;
    color: blue;
}
.priceClass, .side-subTotal{
    color: green;
    width: 3rem;
    height: 5rem;
    background-color: white;
}

.empty-cart{
    color: white;
    font-size: larger;
    margin: auto;
    width: 100%;
    height: auto;
    font-weight: bolder;
}