/* _content/RealCashMs/Views/Admin/Advantages.cshtml.rz.scp.css */
main[b-du80omtjmh]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-du80omtjmh]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Alert.cshtml.rz.scp.css */
main[b-t5lddlcccu]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-t5lddlcccu]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Comments.cshtml.rz.scp.css */
main[b-p3fl1bjo22]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-p3fl1bjo22]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/CustomerEmployeeReview.cshtml.rz.scp.css */
main[b-u2acg8htdd]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-u2acg8htdd]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Customers.cshtml.rz.scp.css */
main[b-i5542mhn7u]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-i5542mhn7u]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Employees.cshtml.rz.scp.css */
main[b-u7qxyoh0j0]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-u7qxyoh0j0]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Index.cshtml.rz.scp.css */
/* _content/RealCashMs/Views/Admin/Meals.cshtml.rz.scp.css */
main[b-utmzo6ielx]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-utmzo6ielx]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/MpesaRecordsTotals.cshtml.rz.scp.css */
main[b-4eohtpvb5a]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-4eohtpvb5a]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/OrderManagement.cshtml.rz.scp.css */
main[b-zg633x0bli]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-zg633x0bli]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Profits.cshtml.rz.scp.css */
main[b-t6g0ct606w]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-t6g0ct606w]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/RealTimeService.cshtml.rz.scp.css */
main[b-46n9ybs6wa]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-46n9ybs6wa]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Reviews.cshtml.rz.scp.css */
main[b-qgz1jye186]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-qgz1jye186]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Stocks.cshtml.rz.scp.css */
main[b-llk70yvkxk]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-llk70yvkxk]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Admin/Store.cshtml.rz.scp.css */
main[b-ym5albn82o]{
    min-height: 100%;
    min-width: 100vh;
    background-color: rgba(20,150,200,0.8);
}
.container[b-ym5albn82o]{
    width: 80%;
    min-height: 100vh;
    background-color: rgba(255,255,255,0.9);
}
/* _content/RealCashMs/Views/Employee/Service.cshtml.rz.scp.css */
/* _content/RealCashMs/Views/Home/About.cshtml.rz.scp.css */
main[b-evlgsfm4l1]{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,25,255,0.8));
    min-width: 100%;
    min-height: 100vh;
}
.container[b-evlgsfm4l1]{
    width: 60vw;
    height: 70vh;
    top: 20vh;
    left: 20vw;
    margin: auto;
    position: absolute;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-image: url("stock photos/eggy-breakfast.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
p[b-evlgsfm4l1]{
    font-size: large;
    margin: auto;
    vertical-align: middle;
}
footer[b-evlgsfm4l1]{
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: auto;
}
/* _content/RealCashMs/Views/Home/Cart.cshtml.rz.scp.css */


html[b-yh1yt45uhf],
html a[b-yh1yt45uhf] {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body[b-yh1yt45uhf] {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}

a[b-yh1yt45uhf] {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}

strong[b-yh1yt45uhf] {
  font-weight: bold;
}

p[b-yh1yt45uhf] {
  margin: 0.75rem 0 0;
}

h1[b-yh1yt45uhf] {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input[b-yh1yt45uhf],
button[b-yh1yt45uhf] {
  border: 0 none;
  outline: 0 none;
}

button[b-yh1yt45uhf] {
  background-color: #666;
  color: #fff;
}

button:hover[b-yh1yt45uhf],
button:focus[b-yh1yt45uhf] {
  background-color: #555;
}

img[b-yh1yt45uhf],
.basket-module[b-yh1yt45uhf],
.basket-labels[b-yh1yt45uhf],
.basket-product[b-yh1yt45uhf] {
  width: 100%;
}

input[b-yh1yt45uhf],
button[b-yh1yt45uhf],
.basket[b-yh1yt45uhf],
.basket-module[b-yh1yt45uhf],
.basket-labels[b-yh1yt45uhf],
.item[b-yh1yt45uhf],
.price[b-yh1yt45uhf],
.quantity[b-yh1yt45uhf],
.subtotal[b-yh1yt45uhf],
.basket-product[b-yh1yt45uhf],
.product-image[b-yh1yt45uhf],
.product-details[b-yh1yt45uhf] {
  float: left;
}

.price[b-yh1yt45uhf]:before,
.subtotal[b-yh1yt45uhf]:before,
.subtotal-value[b-yh1yt45uhf]:before,
.total-value[b-yh1yt45uhf]:before,
.promo-value[b-yh1yt45uhf]:before {
  content: '£';
}

.hide[b-yh1yt45uhf] {
  display: none;
}

main[b-yh1yt45uhf] {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 960px;
}

.basket[b-yh1yt45uhf],
aside[b-yh1yt45uhf] {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket[b-yh1yt45uhf] {
  width: 70%;
}

.basket-module[b-yh1yt45uhf] {
  color: #111;
}

label[b-yh1yt45uhf] {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field[b-yh1yt45uhf] {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover[b-yh1yt45uhf],
.promo-code-field:focus[b-yh1yt45uhf] {
  border: 1px solid #999;
}

.promo-code-cta[b-yh1yt45uhf] {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels[b-yh1yt45uhf] {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

ul[b-yh1yt45uhf] {
  list-style: none;
  margin: 0;
  padding: 0;
}

li[b-yh1yt45uhf] {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

li.price[b-yh1yt45uhf]:before,
li.subtotal[b-yh1yt45uhf]:before {
  content: '';
}

.item[b-yh1yt45uhf] {
  width: 55%;
}

.price[b-yh1yt45uhf],
.quantity[b-yh1yt45uhf],
.subtotal[b-yh1yt45uhf] {
  width: 15%;
}

.subtotal[b-yh1yt45uhf] {
  text-align: right;
}

.remove[b-yh1yt45uhf] {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.remove button[b-yh1yt45uhf] {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-heading[b-yh1yt45uhf] {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product[b-yh1yt45uhf] {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

.product-image[b-yh1yt45uhf] {
  width: 35%;
}

.product-details[b-yh1yt45uhf] {
  width: 65%;
}

.product-frame[b-yh1yt45uhf] {
  border: 1px solid #aaa;
}

.product-details[b-yh1yt45uhf] {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field[b-yh1yt45uhf] {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 0.625rem;
  padding: 2px;
  width: 3.75rem;
}

aside[b-yh1yt45uhf] {
  float: right;
  position: relative;
  width: 30%;
}

.summary[b-yh1yt45uhf] {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1rem;
  position: fixed;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.summary-total-items[b-yh1yt45uhf] {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal[b-yh1yt45uhf],
.summary-total[b-yh1yt45uhf] {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title[b-yh1yt45uhf],
.subtotal-value[b-yh1yt45uhf],
.total-title[b-yh1yt45uhf],
.total-value[b-yh1yt45uhf],
.promo-title[b-yh1yt45uhf],
.promo-value[b-yh1yt45uhf] {
  color: #111;
  float: left;
  width: 50%;
}

.summary-promo[b-yh1yt45uhf] {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.promo-title[b-yh1yt45uhf] {
  float: left;
  width: 70%;
}

.promo-value[b-yh1yt45uhf] {
  color: #8B0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery[b-yh1yt45uhf] {
  padding-bottom: 3rem;
}

.subtotal-value[b-yh1yt45uhf],
.total-value[b-yh1yt45uhf] {
  text-align: right;
}

.total-title[b-yh1yt45uhf] {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout[b-yh1yt45uhf] {
  display: block;
}

.checkout-cta[b-yh1yt45uhf] {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection[b-yh1yt45uhf] {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  aside[b-yh1yt45uhf],
  .basket[b-yh1yt45uhf],
  .summary[b-yh1yt45uhf],
  .item[b-yh1yt45uhf],
  .remove[b-yh1yt45uhf] {
    width: 100%;
  }
  .basket-labels[b-yh1yt45uhf] {
    display: none;
  }
  .basket-module[b-yh1yt45uhf] {
    margin-bottom: 1rem;
  }
  .item[b-yh1yt45uhf] {
    margin-bottom: 1rem;
  }
  .product-image[b-yh1yt45uhf] {
    width: 40%;
  }
  .product-details[b-yh1yt45uhf] {
    width: 60%;
  }
  .price[b-yh1yt45uhf],
  .subtotal[b-yh1yt45uhf] {
    width: 33%;
  }
  .quantity[b-yh1yt45uhf] {
    text-align: center;
    width: 34%;
  }
  .quantity-field[b-yh1yt45uhf] {
    float: none;
  }
  .remove[b-yh1yt45uhf] {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button[b-yh1yt45uhf] {
    padding: 0;
  }
  .summary[b-yh1yt45uhf] {
    margin-top: 1.25rem;
    position: relative;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  aside[b-yh1yt45uhf] {
    padding: 0 1rem 0 0;
  }
  .summary[b-yh1yt45uhf] {
    width: 28%;
  }
}

@media screen and (max-width: 960px) {
  main[b-yh1yt45uhf] {
    width: 100%;
  }
  .product-details[b-yh1yt45uhf] {
    padding: 0 1rem;
  }
}
/* _content/RealCashMs/Views/Home/Comment.cshtml.rz.scp.css */
/* _content/RealCashMs/Views/Home/Index.cshtml.rz.scp.css */
.container-div[b-f6e33xzfjw]{
    background-color: rgba(255,255,255,0.1);
    padding: 1rem;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 0.1em solid rgba(255,255,255,0.7);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}
.navbar-nav[b-f6e33xzfjw]{
    margin: auto;
}
.card-img-top[b-f6e33xzfjw]{
    height: 30vh;
}
main[b-f6e33xzfjw]{
    width: 100%;
    margin: auto;
    /*min-height is very suitable for container heights.*/
    min-height: 100%;
    background-image: url("/stock photos/berry-cheesecake.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.carousel-item[b-f6e33xzfjw]{
    height: 100%;
}
.carousel[b-f6e33xzfjw]{
    margin: auto;
    width: 80%;
}
img[b-f6e33xzfjw]{
    max-height: 80vh;
}

/*my card css */

.card-div[b-f6e33xzfjw]{
    /*ommited the width since we are using the grids width.*/
    border-radius: 0.1rem;
    width: 18rem;
    height: 26rem;
    padding: 1rem;
    background-color: rgba(0,50,255,0.8);
    position: relative;
    box-shadow: 1rem 1rem 1.2rem rgba(0,0,255,0.5);
}
.card-div-image[b-f6e33xzfjw]{
    width: 16rem;
    height: 13rem;
    margin: auto;
}
.card-div-image-description[b-f6e33xzfjw]{
    color: rgba(250,0,150,0.9);
}
.card-div-title[b-f6e33xzfjw]{
    color: rgba(0,0,0,0.9);
    font-weight: bold;
    display: flex;
    padding: 1rem;
    margin-left: 3.5rem;

}
.card-div-amount[b-f6e33xzfjw]{
    color: rgba(0,255,50,1);
    font-size: larger;
    border-bottom: 0.2rem solid black;
    margin-left: 0.5rem;
}
.card-div-functionality[b-f6e33xzfjw]{
    text-decoration: none;
    background-color: rgba(0,50,255,0.9);
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: 7rem;
    border-radius: 10%;
    bottom: 1.8rem;
    /* add the position attribute to it to enable the top, bottom features work.
    to mean you add position attributes to the parent too.*/
    position: absolute;
}
hr[b-f6e33xzfjw]{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}
/*addons to card */
/* cart-button */
.cart-btn[b-f6e33xzfjw]{
    background-color: white;
    width: fit-content;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: rgba(0,0,255);
    font-weight: bold;
}

/*----------*end of card*--------*/

/*Remove the display of the cart from the html*/
.InputVisibility[b-f6e33xzfjw]{
    display: none;
}
/* _content/RealCashMs/Views/Home/MyCart.cshtml.rz.scp.css */
main[b-38uf65qxyv]{
    background-color: rgba(255,255,255,0.5);
    min-height: 100vh;
    min-width: 100%;
    transition-duration: color 3s;
    font-weight: bold;
}
.container[b-38uf65qxyv]{
    min-height: 100Vh;
}
.main-cart[b-38uf65qxyv]{
    /*If using the position then margin-auto wont work*/
    min-height: 100vh;
    width: 80vw;
    margin: auto;
    position: relative;
    top: 10vh;
    left: 10vw;
    background-image: white;
    transition: all 3s;
}
.side-summary[b-38uf65qxyv]{
    background-image: transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.my-bolder[b-38uf65qxyv]{
    font-weight: bolder;
}
hr[b-38uf65qxyv]{
    width: 100%;
    height: 0.3rem;
    background-color: black;
}
.main-cart .row[b-38uf65qxyv]{
    min-height: 80vh;
}
.side-summary .card[b-38uf65qxyv]{
    height: 100%;
    width: 100%;
    position: absolute;
}
.cart-image[b-38uf65qxyv]{
    max-width: 25vw;
    max-height: 20vh;
}
.cart-title[b-38uf65qxyv]{
    color: rgba(0,20,255);
    font-weight: bolder;
    font-size:larger;
    text-align: center;
    width: 100%;
    background-color: black;
}
.summary-title[b-38uf65qxyv]{
    color: rgba(255,255,255);
    font-weight: bold;
    font-size: large;
    padding-left: 1rem;
    padding-right: 0.2rem;
}
.amount-holder[b-38uf65qxyv]{
    text-align: center;
    margin: auto;
    padding: 2rem 0.5rem;
    background-color: rgba(0,0,255,0.9);
}

h1 .card-text[b-38uf65qxyv]{
    font-size: large;
    font-weight: bold;
    color: blue;
}
.priceClass[b-38uf65qxyv], .side-subTotal[b-38uf65qxyv]{
    color: green;
    width: 3rem;
    height: 5rem;
    background-color: white;
}

.empty-cart[b-38uf65qxyv]{
    color: white;
    font-size: larger;
    margin: auto;
    width: 100%;
    height: auto;
    font-weight: bolder;
}
/* _content/RealCashMs/Views/Home/Order.cshtml.rz.scp.css */
/*main{
    background-color: rgba(0,0,255,0.9);
    width: 98vw;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.order-glass{
    background-image: linear-gradient(to right top, rgba(255,255,255,0.5), rgba(255,255,255,0.1));
    width: 80vw;
    height: 80vh;
    z-index: 2;
    border-radius: 1em;
    backdrop-filter: blur(1em);
    margin: auto;
}
.col-sm{
    height: 20%;
    width: 20%;
    margin: auto;
}
.row{
    height: 30%;
    width: 80%;
    z-index: 3;
}*/.container-div[b-wqja7tqjem]{
    background-color: rgba(255,255,255,0.1);
    padding: 2em;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 2em;
    width: 80%;
    height: 70vh;
    margin: auto;
    border: 0.1em solid rgba(255,255,255,0.7);
    display: grid;
    grid-template-columns: 20rem auto;
}
.col-sm[b-wqja7tqjem]{
    background-color: rgba(255,255,255,0.9);
    border: 0.2em solid rgb(0, 0, 0);
    border-radius: 1%;
    margin-right: 2em;
    height: 50vh;
}
.row[b-wqja7tqjem]{
    height: 85vh;
}
main[b-wqja7tqjem]{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,20,255,0.8);
}
.navbar-nav[b-wqja7tqjem]{
    margin: auto;
}
.card-img-top[b-wqja7tqjem]{
    height: 30vh;
}
.card-body p[b-wqja7tqjem]{
    width: 30vw;
}
p > h1[b-wqja7tqjem]{
    margin: auto;
}

/*my card css */

.card[b-wqja7tqjem]{
    border-radius: 1rem;
    width: 18rem;
    height: 22rem;
    padding: 1rem;
    background-color: rgba(0,50,255,0.8);
    position: relative;
    box-shadow: 1rem 1rem 1.2rem rgba(0,0,255,0.5);

}
.card-div-image[b-wqja7tqjem]{
    width: 15rem;
    height: 13rem;
    margin: auto;
}
.card-div-image-description[b-wqja7tqjem]{
    color: rgba(250,0,150,0.9);
}
.card-div-title[b-wqja7tqjem]{
    color: rgba(0,0,0,0.9);
    font-weight: bold;
    display: flex;
    padding: 1rem;
    margin-left: 3.5rem;

}
.card-div-amount[b-wqja7tqjem]{
    color: rgba(0,255,50,1);
    font-size: larger;
    border-bottom: 0.2rem solid black;
    margin-left: 0.5rem;
}
.card-div-functionality[b-wqja7tqjem]{
    text-decoration: none;
    background-color: rgba(0,50,255,0.9);
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: 7rem;
    border-radius: 10%;
    bottom: 1.8rem;
    /* add the position attribute to it to enable the top, bottom features work.
    to mean you add position attributes to the parent too.*/
    position: absolute;
}
hr[b-wqja7tqjem]{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

/*----------*end of card*--------*/

/* Modal-styling*/
.modal-content[b-wqja7tqjem]{
    background-color: rgba(0,0,255,0.4);
    backdrop-filter: blur(5em);
}
.modal-title[b-wqja7tqjem]{
    font-weight: bolder;
    color: black;
}
.modal-body[b-wqja7tqjem]{
    color: black;
    font-weight: bold;
}
.display-removed[b-wqja7tqjem]{
    display: none;
}
.modal-title[b-wqja7tqjem]{
    margin: auto;
    color: white;
    font-weight: bolder;
}
.card-text[b-wqja7tqjem]{
    font-weight: bold;
    font-size:medium;
}
/* _content/RealCashMs/Views/Home/Pay.cshtml.rz.scp.css */
.toast[b-1fw760f5au]{
    margin: auto;
    /*position: absolute */
    font-weight: bold;
}
img[b-1fw760f5au]{
    width:2vw;
    height:2vh;
}
main[b-1fw760f5au]{
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(100,100,50,0.8);
    background-image:  linear-gradient(rgba(0,50,255,0.5),rgba(20,60,240,0.3)),url("/stock photos/berry-cheesecake.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
